<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bekyiu.mapper.UserMapper">
    <resultMap id="base" type="User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="headImg" column="head_img"/>
        <result property="bornDate" column="born_date"/>
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, head_img, born_date) VALUES (#{name}, #{headImg}, #{bornDate})
    </insert>

    <update id="update">
        UPDATE user SET name = #{name}, head_img = #{headImg}, born_date = #{bornDate} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="get" resultMap="base">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="listAll" resultMap="base">
        SELECT * FROM user
    </select>

    <sql id="advanceQuery">
        <where>
            <if test="name != null">
                AND name LIKE concat('%', #{name}, '%')
            </if>
            <if test="beginDate != null">
                AND born_date > #{beginDate}
            </if>
            <if test="endDate != null">
                AND born_date &lt; #{endDate}
            </if>
        </where>
    </sql>

    <select id="query" resultMap="base">
        SELECT * FROM user
        <include refid="advanceQuery"/>
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(id) FROM user
        <include refid="advanceQuery"/>
    </select>
</mapper>